:root{

/* font sizes */
    --fs-78: 78px;
    --fs-60: 60px;
    --fs-55: 55px;
    --fs-50: 50px;
    --fs-45: 45px;
    --fs-40: 40px;
    --fs-37: 37px;
    --fs-32: 32px;
    --fs-30: 30px;
    --fs-28: 28px;
    --fs-25: 25px;
    --fs-24: 24px;
    --fs-22: 22px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-15: 15px;
    --fs-14: 14px;

/* font weight */
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;

/* line height */
    --lh-90: 90px;
    --lh-63: 63px;
    --lh-52: 52px;
    --lh-50: 50px;
    --lh-46: 46px;
    --lh-43: 43px;
    --lh-40: 40px;
    --lh-39: 39px;
    --lh-37: 37px;
    --lh-36: 36px;
    --lh-35: 35px;
    --lh-31: 32px;
    --lh-31: 31px;
    --lh-33: 33px;
    --lh-29: 29px;
    --lh-27: 27px;
    --lh-24: 24px;
    --lh-23: 23px;    
    --lh-22: 22px;    
    --lh-21: 21px;
    --lh-18: 18px;
    --lh-17: 17px;

/* font family */
    --work-sans: "Work Sans", sans-serif;
    --open-sans: "Open Sans", sans-serif;

 /* Colors  */
    --global-white: #ffffff;
    --global-black: #000000;
    --border-blue: #1F1E8D;

/* Background gradient */
      --background-gradient: linear-gradient(
            to right,
            var(--dark-0),
            var(--dark-1),
            var(--dark-2),
            var(--dark-3),
            var(--dark-4),
            var(--dark-5),
            var(--dark-6),
            var(--dark-7),
            var(--dark-8)
        );

    --gradient-bg: #0B1541;
    --bg-gray-glass: rgb(255 255 255 / 30%);

    /* border-radius */
    --radius-1: 9px;
/* Sectional padding */
      --sectional-padding: 3rem 0;
}

body{
    font-family: var(--work-sans);
}

h1{
    font-weight: var(--fw-700);
}

h2{
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3{
    font-weight: var(--fw-600)
}

p{
    font-weight: var(--fw-300);    
}

h1,h2,h3,h4,li,p{
    color: var(--global-white);
}


img{
    max-width: 100%;
}

h1{
    font-size: var(--fs-32);
    line-height: var(--lh-37);        
}

h2{
    font-size: var(--fs-28);
    line-height: var(--lh-35);
}

h3{
    font-size: var(--fs-20);
    line-height: var(--lh-24);
}

p{
    font-size: var(--fs-18);
    line-height: var(--lh-27);
}

.business-img-1 p{
        line-height: var(--lh-23);
        font-size: var(--fs-15);
}

.container{
    max-width: 1600px;    
}

.row{
    --bs-gutter-x: 1.5rem;
}


.companies-hero-section{
    padding: var(--sectional-padding);
    background-image: var(--background-gradient);
}

.hero-image-container{
    position: relative;
    padding: 13px;
    overflow: hidden;
}

.hero-image-container::before {
            content: '';
            position: absolute;
            left: 1%;
            top: 1%;
            width: 98%;
            height: 98%;
            background: url('assets/svgs/banner-circles.svg') no-repeat center;
            background-size: contain;
            z-index: 1;
            animation: spin 5s linear infinite;
}

.business-section{
    background: url("assets/business-bg-gradient-1.png") var(--gradient-bg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: var(--sectional-padding);
    text-align: center;
}

.business-section-heading{
    max-width: 1000px;
    margin: 0 auto;
}

.container-business-img-1,.was-ist-noch-dabei-img-1{
    position: relative;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    margin: 0 auto 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-blue);
    border-radius: 50%;
    padding: 1rem;
    overflow: hidden;
}
.was-ist-noch-dabei-img-1{
    width: 50px;
    height: 50px;
}

.container-business-img-1:focus, .container-business-img-1:hover{
    border: 1px solid var(--global-white);
}

.container-business-img-1::before,.was-ist-noch-dabei-img-1::before{
    content: '';
    position: absolute;
    background: url('assets/svgs/Unternehmen/Unternehmen.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    mix-blend-mode: color-dodge;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.was-ist-noch-dabei{
            background: url('assets/svgs/Unternehmen/bg-unternemn.svg');
            height: 100%;
            width: 100%;
            border-radius: 30px;
            border: 1px solid #fff;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
}

.business-img-1{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);     */
}

.companies-pricing-section{
    padding: var(--sectional-padding);
    background: url('assets/bg-priese.svg');
    background-size: cover;
}

.pricing-h2{
    margin-bottom: 2rem;
}

.slogan-section{
    background: var(--background-gradient);
    padding: var(--sectional-padding);
}

.slogan-button{
    background-color: transparent;
    border: 0px;
}

.das-ziel-para{
    font-weight: var(--fw-400) !important;
}

.blog-section{
    padding: var(--sectional-padding);
    background: url("assets/blog-section.png") no-repeat var(--gradient-bg);
    background-size: cover;
}

.blog-row .col{
    padding: 1rem;
}

.blog-links{
        border: 1px solid rgb(255 255 255 / 30%);
        background-color: rgb(255 255 255 / 10%);
        border-radius: 20px;
        display: block;
        text-decoration: none;
        color: var(--global-white);
}

.blog-links figure{
    padding: 1rem;
}

.blog-links figure figcaption{
    margin-top: 1rem;
}

 .blog-col{
    padding: 1rem;
}

.arrow-div{
        padding: 1rem;
        font-size: var(--fs-24);
        font-weight: var(--fw-600);
        border-top: 1px solid rgb(255 255 255 / 25%);
}

.blog-section .blog-row .blog-links figure figcaption h4{
    font-weight: var(--fw-600);
    font-size: var(--fs-20);
    line-height: var(--lh-24);
}

.blog-section .blog-row .blog-links  figure figcaption p{
    font-weight: var(--fw-300);
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}

.blog-links .arrow-div span{
    font-weight: var(-fw-600);
    font-size: var(-fs-16);
    font-size: var(-lh-24);
}

.was-ist-noch-dabei p{
    font-size: var(--fs-15);
    line-height: var(--fs-23);
}

.contact-form-section{
    padding: var(--sectional-padding);
    background: url("assets/svgs/kontakt-gradient.svg");
    background-position: center top;
    background-size: cover;
}

.about-section-para-content p{
    font-size: var(--fs-18);
}

.contact-form-section .form-control {
    background-color: transparent !important;
}
.contact-form-section .form-control:focus {
    background-color: transparent !important;
}

.contact-form-section .form-control.error{
    border-bottom: 1px solid red;
}

.contact-form input, .contact-form textarea{
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--global-white) !important;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid var(--global-white);
}

.contact-form input:-webkit-autofill,
.contact-form input:-webkit-autofill:hover, 
.contact-form input:-webkit-autofill:focus, 
.contact-form input:-webkit-autofill:active{
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: #ffffff;
    background-color: #0a1045;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
    border: none;
    border-bottom: 1px solid #ffffff !important;
}

.contact-form input:focus, .contact-form textarea:focus{
    background-color: transparent !important;
}
.contact-form input:hover, .contact-form textarea:hover{
    background-color: transparent !important;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--global-white);
    opacity: 0.6;
    font-size: var(--fs-15);
    line-height: var(--lh-23);
}

.contact-col {
        border: 1px solid rgb(255 255 255 / 43%);
        background-color: rgb(255 255 255 / 30%);
        border-radius: 20px;
        padding: 18px;
}

.contact-col img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.contact-col h2{
        font-size: var(--fs-25);
        line-height: var(--lh-31);
        text-transform: none;
}

.arrow-div span{
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}

.arrow-div img{
    max-width: 25%;
}


/* here address-email is the div containing both */

.address-email{
    padding: 1rem 0;
}


.address-email-row{
    display: flex;
    padding: 1rem 0;
    justify-content: start;
    align-items: start;    
    gap: 1rem;
    border-bottom: 1px solid var(--global-white);
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}

.address-email-row:last-child{
    align-items: center;
}

.address-email-row address{
    color: var(--global-white);

}

.address-email-row a{
    text-decoration: none;
    color: var(--global-white);

}

.send-button-div{
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-form-section .section-heading{
        font-size: var(--fs-25);
        line-height: var(--lh-31);
    }

.slogan-section .modal-content{
    background: none;
    border: 0px;    
}

.slogan-section .modal-body .btn-close{
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    opacity: 1;    
}    

.section-uber-static{
    padding: var(--sectional-padding);
    background: var(--background-gradient);
}

.accordion-button {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.accordion-heading{
    font-size: var(--fs-24);
    font-weight: var(--fw-700);

}

.accordion-button::after{                
    background: url('assets/svgs/uber-uns/plus.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;

}

.accordion-button:not(.collapsed)::after{
    background: url('assets/svgs/uber-uns/minus.svg');
    background-size: contain;
    background-repeat: no-repeat;
        height: 40px;
    width: 40px;
}

.accordion-list-numscout li a{
    color: #ffffff;
}




.button-icon-container .vertical{
    width: 1px;
    height: 100%;
    background-color: #000000;
}

.button-icon-container .horizontal{
    height: 1px;
    width: 100%;
    background-color: #000000;
}



.numscout-accordion{
    margin-top: 4rem;
}

.accordion-item{
    background: transparent;
    border: 0px;
}

.accordion-button:not(.collapsed){
    background-color: transparent;   
    box-shadow: none;
}

.accordion-button{
    background: transparent;
    border: 3px solid white;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-item:first-of-type>.accordion-header .accordion-button{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.uber-uns-button-container{
    display: flex;
    justify-content: flex-start;    
    gap: 2rem;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.blog-on-page-section .post-title{
    text-transform: uppercase;
}

.blog-on-page-section{
    padding: var(--sectional-padding);
    background: var(--background-gradient);
}

.breadcrumb-item a{
    text-decoration: none;
    color: var(--global-white); 
}

.blog-icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item span{
    font-size: var(--fs-15);
    line-height: var(--lh-15);
}

.breadcrumb-item+.breadcrumb-item::before{
    color: var(--global-white);
    font-size: larger;    
}


.post-container .post-title{
    font-size: var(--fs-28);
    line-height: var(--lh-32);    
}
.post-container .post-desc{
    font-size: var(--fs-18);
    line-height: var(--lh-27);
    font-weight: var(--fw-400);
}

.blog-post-img{
    margin-bottom: 1rem;
}

.blog-post-break{    
    opacity: .25;
    border: 1px solid var(--global-white);
}
.year-title{
    font-size: var(--fs-20);
    line-height: var(--lh-24);
    font-weight: var(--fw-600);
}

.year-desc{
    font-size: var(--fs-18);
    line-height: var(--lh-27);
    font-weight: var(--fw-400);
}

.post-note-share{
    padding: 1.5rem;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 20px;
    border: 1px solid rgb(255 255 255 / 43%);
}

.post-note-share em{
    color: var(--global-white);
    font-size: var(--fs-20);
    line-height: var(--lh-24);
    font-weight: var(--fw-500);
    margin-bottom: 2rem;
}

.search-bar-container,
.search-container-body{
    background-color: var(--bg-gray-glass);
    padding: 1rem;
    border-radius: var(--radius-1);
    margin-top: 2rem;
}


.item-text h4{
    font-weight: var(--fw-500);      
}



.search-bar-container{
    .search-bar{
        width: 100%;
        background: transparent;
        border: 1px solid var(--global-white);
        border-radius: var(--radius-1);
        padding: 10px 20px;
        color: var(--global-white);        
    }

    .search-bar:focus, .search-bar:focus-visible{
        border-color: var(--global-white);
    }

    .search-bar::-webkit-input-placeholder{
        color: var(--global-white);
    }
        
}
.search-container-body{
    p{
        margin-bottom: 0rem;
    }
    .container-item{
        display:flex;
        align-items: center;
        width: 100%;
        background: transparent;
        border: 1px solid var(--global-white);
        border-radius: var(--radius-1);
        padding: 10px 7px;
        margin: .5rem 0;
        gap: 1rem;
    }

    .container-item:hover{
        cursor: pointer;
    }

    .container-item{
        .thumbnail-img{
            width: 80px;
            height: 80px;   
            object-fit: cover;         
            border-radius: 5px;
        }
    }
    
    .content-box{
        p{
            font-size: var(--fs-16) !important;
            line-height: var(--lh-19) !important;
            font-weight: var(--fw-500);
            color: var(--global-white);
        }

        

        .cta{

            &{
             color: var(--global-white);                   
            }

           img{
            width: 35px;
            transition: transform 0.3s ease-out;

           }

           img:hover{
               transform: translate(50% , 0);             
               
           }
           

           span{
             font-weight: var(--fw-600);
           }

        }
    }

    .thumbnail-img{
        height: 100%;
    }
}

ul.blog-page-main-content {
    list-style: none;
    padding: 0;
}

.blog-page-main-content li,.blog-page-main-content p{
    font-size: var(--fs-20);
    line-height: var(--lh-30);
    font-weight: var(--fw-400);
    margin-top: 2rem;
}

.blog-page-main-content p{
    margin-top: -.15rem;
}

p.auffallend{
    font-size: var(--fs-24);
    line-height: var(--lh-30);
    font-weight: var(--fw-700);
}

p.tennis-profi{
    margin-top: -0.2rem;
}


/* general-css-end */

/* Animation keyframes */
@keyframes spin {

    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    
}

/* Media queries */
/* xs0 */
@media (min-width: 0px){
    .business-row  .business-col{
        padding-top: 1rem;
    }

  
}
/* sm576 */
@media (min-width: 576px) {
    .blog-section .blog-row .blog-links figure figcaption h4{
    font-weight: var(--fw-600);
    font-size: var(--fs-14);
    line-height: var(--lh-17);
}

.blog-section .blog-row .blog-links  figure figcaption p{
    font-weight: var(--fw-300);
    font-size: var(--fs-14);
    line-height: var(--lh-21);
}

.blog-links .arrow-div span{
    font-weight: var(-fw-600);
    font-size: var(-fs-14);
    font-size: var(-lh-21);
}

.send-button-div{
    justify-content: flex-end; 
    padding: 1rem 0;   
}

.contact-col {
        border: 1px solid rgb(255 255 255 / 43%);
        background-color: rgb(255 255 255 / 30%);
        border-radius: 20px;
        padding: 2rem;
}

.about-section-para-content p{
    font-size: var(--fs-22);
}

}


/* md768 */
@media (min-width: 768px){

    h3{
        font-size: var(--fs-18);
        line-height: var(--lh-22);
    }
    p{
        font-size: var(--fs-16);
        line-height: var(--lh-24);
    }

    .arrow-div span{
        font-size: var(--fs-14);
        line-height: var(--lh-21);
}
    .post-container .post-desc{
        font-size: var(--fs-14);
        line-height: var(--lh-21);
    }

.year-desc{
    font-size: var(--fs-16);
    line-height: var(--lh-24);
    font-weight: var(--fw-400);
}
    .post-note-share em{
        font-size: var(--fs-18);
        line-height: var(--lh-24);
    }
}
/* lg992 */
@media (min-width: 992px){
    .contact-col h2{
        font-size: var(--fs-28);
        line-height: var(--lh-35);
    }

    .uber-uns-button-container{
        flex-direction: row;
        margin-bottom: 0;        
    }

}

@media (max-width: 992px){
    
}
/* xl1024 */
@media (min-width: 1024px){
    h1{
        line-height: var(--lh-52);
        font-size: var(--fs-45);
    }

    h2{
        font-size: var(--fs-32);
        line-height: var(--lh-40);
    }

    h3{
        font-size: var(--fs-20);
        line-height: var(--fs-24);
    }
.blog-section .blog-row .blog-links figure figcaption h4{
    font-weight: var(--fw-600);
    font-size: var(--fs-16);
    line-height: var(--lh-19);
}

.blog-section .blog-row .blog-links  figure figcaption p{
    font-weight: var(--fw-300);
    font-size: var(--fs-14);
    line-height: var(--lh-21);
}

.blog-links .arrow-div span{
    font-weight: var(-fw-600);
    font-size: var(-fs-16);
    font-size: var(-lh-24);
}

.post-container .post-title{
    font-size: var(--fs-32);
    line-height: var(--lh-37);    
}

.post-container .post-desc{
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}

}
/* xxl1200 */
@media (min-width: 1200px){

    .business-row > div:nth-child(3n+2) {
        position: relative;
    }

    
    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
        color: var(--global-white);
        opacity: 0.6;
        font-size: var(--fs-18);
        line-height: var(--lh-27);
}

    .business-row > div:nth-child(3n+2)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(to bottom, #ffffff00, #fff, #ffffff00);
    }

    .business-row > div:nth-child(3n+2)::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(to bottom, #ffffff00, #fff, #ffffff00);
    }

    .contact-col h2{
        font-size: var(--fs-32);
        line-height: var(--lh-40);
    }

    .address-email-row{
        font-size: var(--fs-20);
        line-height: var(--lh-30);
}
    /* Remove from last row's middle col */

}
/* xxl1400 */
@media (min-width: 1440px){
    h1{
        line-height: var(--lh-63);
        font-size: var(--fs-55);
    }
    h2{
        font-size: var(--fs-40);
        line-height: var(--lh-50);
    }
    h3{
        font-size: var(--fs-24);
        line-height: var(--lh-29);
    }

    p{
        line-height: var(--lh-33);
        font-size: var(--fs-22);
    }

    .business-img-1 p{
        line-height: var(--lh-27);
        font-size: var(--fs-18);
    }

    .blog-section .blog-row .blog-links figure figcaption h4{
        font-weight: var(--fw-600);
        font-size: var(--fs-20);
        line-height: var(--lh-24);
    }    

.blog-section .blog-row .blog-links  figure figcaption p{
    font-weight: var(--fw-300);
    font-size: var(--fs-16);
    line-height: var(--lh-24);
}

.blog-links .arrow-div span{
    font-weight: var(-fw-600);
    font-size: var(-fs-20);
    font-size: var(-lh-30);
}

.was-ist-noch-dabei p{
    font-size: var(--fs-18);
    line-height: var(--fs-27);
}

    .contact-form-section .section-heading{
        font-size: var(--fs-32);
        line-height: var(--lh-40);
    }

    .arrow-div span{
        font-size: var(--fs-20);
        line-height: var(--lh-30);
    }

    .accordion-body p{
        font-size: var(--fs-20);
        line-height: var(--lh-30);
        font-weight: var(--fw-400);
    }

    .accordion-list-numscout li a {        
        font-size: var(--fs-20);
        font-weight: var(--lh-30);
    }

    /* .nav--breadcrumb{
        margin-bottom: 4rem;
    } */

    ol.breadcrumb{
        width: fit-content;
        background-color: #ffffff20;
        padding: 9px;
        border-radius: 50px;
    }

    .breadcrumb-item span{
        font-size: var(--fs-18);
        line-height: var(--lh-18);
    }
       
    .blog-on-page-section .post-title{
        font-size: var(--fs-40) ;
        line-height: var(--lh-46) ;         
    }
    .blog-on-page-section .post-desc{
        font-size: var(--fs-20) ;
        line-height: var(--lh-30);
        font-weight: var(--fw-400);
    }

    .year-title{
    font-size: var(--fs-20);
    line-height: var(--lh-24);
    font-weight: var(--fw-600);
}

.year-title{
    font-size: var(--fs-24);
    line-height: var(--lh-29);
}

.year-desc{
    font-size: var(--fs-20);
    line-height: var(--lh-30);    
}

.post-note-share em{
    font-size: var(--fs-24);
    line-height: var(--lh-29);
}
}
/* xxl1600 */
@media (min-width: 1600px){
    .business-section-heading>p{
        font-size: var(--fs-22);
        line-height: var(--lh-33);
    }

    .business-col p{
        font-size: var(--fs-24);
        line-height: var(--lh-36);
    }

    .slogan-right p{
        font-size: var(--fs-25);
        line-height: var(--fs-37);
    }

    .business-img-1 p{
        line-height: var(--lh-33);
        font-size: var(--fs-22);
    }

}

@media (max-width: 575px){
      .business-row > div:not(:last-child) {
        position: relative;
    }

    .business-row > div:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #ffffff00, #fff, #ffffff00);        
    }

    .search-container-body .content-box p
    {
            font-size: var(--fs-14) !important;
            line-height: var(--lh-17) !important;
    }

    .search-container-body {
    & .content-box {
            
        & .cta{
            span{
                font-weight: var(--fs-14);
                line-height: var(--lh-21);
            }
        }
    }

}
    .blog-page-main-content li,.blog-page-main-content p{
        font-size: var(--fs-18);
        line-height: var(--lh-27);        
    }
}
/* css end */
@media (min-width: 576px) and (max-width: 1199px){


    .business-row > div:not(:last-child)::after {
        display: none;
    }

    .business-row > div:nth-child(2n) {
        position: relative;
    }

    .business-row > div:nth-child(2n)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(to bottom, #ffffff00, #fff, #ffffff00);
    }

    .business-row > div:nth-child(2n)::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(to bottom, #ffffff00, #fff, #ffffff00);
    }

    /* Remove from last row */
    .business-row > div:nth-last-child(1)::before,
    .business-row > div:nth-last-child(1)::after {
        display: none;
    }

    

}